{% extends 'base.html.twig' %}

{% block title %}The Library
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h2 class="text center">Our Books</h2>
		<div class="container">
			<div class="row">
				{% for item in items %}
					<div class="col-12 col-md-6 col-lg-3">
						<div class="card" style="width: 18rem;">
							<img src="{{ asset( 'img/' ~ item.picture) }}" class="card-img-top" alt="Error">

							<div class="card-body">
								<h5 class="card-title">Title:
									{{item.name}}</h5>
								<h6>Author:
									{{item.author}}</h6>
								<p class="card-text">{{item.description}}</p>
								<a href="/details/{{item.id}}" class="btn btn-info">Details</a>
								<a href="/edit/{{item.id}}" class="btn btn-success">Edit</a>
								<a href="/delete/{{item.id}}" class="btn btn-danger">Delete</a>

							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	{% endblock %}
